<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon.ico" />

<!-- Open Graph Tags -->
<meta property="og:title" content="Julie Shapiro | weeb.site" />
<meta property="og:description" content="Julie's website and blog" />
<meta property="og:image" content="https://weeb.site/assets/imgs/preview-image.jpg" />
<meta property="og:url" content="https://weeb.site" />

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Julie Shapiro | weeb.site">
<meta name="twitter:description" content="Julie's website and blog">
<meta name="twitter:image" content="https://weeb.site/assets/imgs/preview-image.jpg">
