<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset='utf-8'>

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Julie Shapiro</h1>
      <h2 class="project-tagline">Systems Software Engineer</h2>
    </header>

    <!-- MAIN CONTENT -->
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <p class="copyright">Written by <a href="{{ site.github.owner_url }}">Julie Shapiro</a>.
        </br> All rights reserved.</p>
        <!-- <p>Yes, technically this is a <a href="https://pages.github.com">GitHub Pages</a> site.</p> -->
      </footer>
    </main>

<!--
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
-->
  </body>
</html>
